.TodoSearch{
    color:#4e4e4e;
    border: 2px solid #DFDFDE;
    border-radius: 1.2rem;
    width: calc(40% - 65px);
    height: 54px;
    font-size: 22px;
    font-weight: bolder;
    padding: 0 1.5rem;
    margin-top: 1.25rem;
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
}
.TodoSearch::placeholder{
    color:#A0A0A0;
}
.TodoSearch:focus{
    outline: 0.1563rem solid #4e4e4e;
}

